form {
    max-width: 500px;
    margin: auto;
}
input{
    padding: 10px;
    border: solid 1px blue;    
}

input:focus:valid {
    border: 4px solid green;
}
input:focus:invalid{
    border: 4px solid red;
}    